container_commands:
  01-database-config:
    env:
      DB_HOST:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: DB_HOST
      DB_PASSWORD:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: DB_PASSWORD
      DB_USERNAME:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: DB_USERNAME
      DB_DATABASE:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: DB_DATABASE
    command: |
      php artisan optimize
      php artisan migrate --force
      php artisan db:seed
