option_settings:
    -
        namespace: aws:elasticbeanstalk:application:environment
        option_name: COMPOSER_HOME
        value: /root

    -
        namespace: aws:elasticbeanstalk:container:php:phpini
        option_name: document_root
        value: /public

container_commands:
    00_install_composer_dependencies:
        command: "composer.phar install"
        cwd: "/var/app/staging"

    01_run_migrations:
        command: "php artisan migrate --force"
        cwd: "/var/app/staging"
        leader_only: true

    02_run_admin_user_seeder:
        command: "php artisan db:seed"
        cwd: "/var/app/staging"
        leader_only: true
