option_settings:
    -
        namespace: aws:elasticbeanstalk:application:environment
        option_name: COMPOSER_HOME
        value: /root

    -
        namespace: aws:elasticbeanstalk:container:php:phpini
        option_name: document_root
        value: /public

container_commands:
    00_copy_env_file:
        command: "cp /var/www/.env /var/app/staging/.env"

    01_install_composer_dependencies:
        command: "sudo rm -R vendor composer.lock package-lock.json && sudo composer.phar install"
        cwd: "/var/app/staging"

    02_run_cache_clear:
        command: "php artisan optimize"
        cwd: "/var/app/staging"
        leader_only: true

    02_run_migration:
        command: "php artisan migrate --force"
        cwd: "/var/app/staging"
        leader_only: true

    03_run_seeder:
        command: "php artisan db:seed"
        cwd: "/var/app/staging"
        leader_only: true
