.participant-red-header-text {
    color:red;
}

.custom-control-input.is-valid ~ .custom-control-label {
    color: inherit !important;
}

/* zero-last-action-padding */
.p0-last-1 table tbody tr td:last-child {
    padding-left: 0px;
}

.p0-last-2 table tbody tr td:nth-last-child(1) {
    padding-left: 0px;
}
.p0-last-2 table tbody tr td:nth-last-child(2) {
    padding-right: 5px;
    text-align: right !important;
}

.p0-last-3 table tbody tr td:nth-last-child(3) {
    padding-left: 0px;
    padding-right: 0px;
    text-align: right !important;
}

.p0-last-3 table tbody tr td:nth-last-child(1),
.p0-last-3 table tbody tr td:nth-last-child(2) {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center !important;
}

.p0-last-3 table tbody tr td:nth-last-child(1) {
    text-align: left !important;
}


/*  */
.form-list.is-invalid {
    border-color: #e74a3b;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e74a3b' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e74a3b' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5em top 0.5em;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-list.is-valid {
    border-color: #1cc88a;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231cc88a' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5em top 0.5em;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-list.is-invalid .invalid-feedback {
    display: block;
}

.w20p {
    width: 20%;
}
.w40p{
    width: 40%;
}
.w-15 {
    width: 15% !important;
}

/* form label */
label.require::after, .require-h6 h6::after{
    content: '*';
    color: #e74a3b;
}

/* info-icon */
.info-icon::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f129";
}

.pe-none {
    pointer-events: none;
}

/* Chrome, Safari, Edge, Opera */
.ticker input::-webkit-outer-spin-button,
.ticker input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.ticker input[type=number] {
  -moz-appearance: textfield;
}

/* laravel-vue-datatable */
.laravel-vue-datatable .laravel-vue-datatable-th {
    font-size: 12px;
}

.laravel-vue-datatable .laravel-vue-datatable-td {
    font-size: 12px;
}

.laravel-vue-datatable .laravel-vue-datatable-td a, 
.laravel-vue-datatable .laravel-vue-datatable-td button {
    font-size: 12px;
}

input[name='table-search'], select.form-control {
    font-size: 12px;
}

.pagination {
    font-size: 12px;
}

.leading-5 {
    font-size: 12px;
}

select.form-control {
    width: auto;
}

input[name='table-search'].form-control:focus, select.form-control:focus {
    box-shadow: none;
}


/*  */
.capital-text{
    text-transform: capitalize;
}